<!DOCTYPE html>
<html>

<head lang="ja" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/ fb# website: http://ogp.me/ns/wibsite#">
    <%- include("./_share/inhead") %>
    <link rel="stylesheet" href="/public/stylesheet/post/post.css">
    <script src="/public/javascript/post/post.js" async></script>
</head>

<body>
    <%- include("./_share/nav", {downurl:1}) %>
    <section>
        <form>
            <div class="field">
                <label>題名</label>
                <p class="txtcounter" id="oftitle">0/30文字</p>
                <div class="control">
                    <p name="title"></p>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label>思い</label>
                    <p name="emo"></p>
                </div>
            </div>
            <div class="field">
                <label>本文</label>
                <p class="txtcounter" id="ofmain">0/1200文字</p>
                <div class="control">
                    <p name="main"></p>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button onclick="send();" class="button is-link">伝える</button>
                </div>
            </div>
        </form>
    </section>
    <%- include("./_share/footer") %>
</body>

</html>