<!DOCTYPE html>
<html>

<head lang="ja" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/ fb# website: http://ogp.me/ns/wibsite#">
    <%- include("./_share/inhead") %>
    <link rel="stylesheet" href="/public/stylesheet/top/top.css">
</head>

<body>
    <%- include("./_share/nav", {downurl:0}) %>
    <section>
        <h1 class="title is-1 has-text-centered">
            さあ、感情を、共有しよう
        </h1>
        <p class="aori is-size-5 has-text-centered">
            Emotion、感情。<br>
            人類が約660万年前に生まれた<wbr>あの瞬間から持つ原始的感情、喜怒哀楽。<br>
            そんな一人ひとり違う、<br>
            あなたのあなたによる、<br>
            あなたのためのあなただけの思いを、<br>
            みんなで共有しませんか。<br>
            このWebサービスでは、喜怒哀楽の4つの観点から、<br>
            感情を分かちあいます。<br>
            さあ、あなたの新しい思いを、<br>
            今ここに。
        </p>
    </section>
    <%- include("./_share/footer") %>
</body>

</html>